<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">

    <event name="admin_system_config_changed_section_maintenance_mode_configuration">
        <observer name="sync_mode" instance="Codilar\AdvancedMaintenanceMode\Observers\Adminhtml\SectionSaveAfter"/>
    </event>

</config>
